HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Application properties ###
**/src/main/resources/application-local.properties
**/src/main/resources/application-real.properties
**/src/main/resources/application-secret-real.properties
**/src/main/resources/application-secret.properties
**/src/main/resources/application.properties_dev
**/src/main/resources/application.properties_local
**/src/main/resources/application.properties_real
the-full-ocr-project-f7202d1e7284.json
the-full-ocr-project-4680f824e68a.json


rebuild_modified_tables_drop_create.sql
seed_meal_inventory_procurement_test_data.sql