<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PaymentMapper">
	
	<select id="NowDateKey" resultType="String">
		SELECT DATE_FORMAT(NOW(6), '%Y%m%d%H%i%s%f')
	</select>
	
	<select id="MenuList" parameterType="map" resultType="hashmap">
		SELECT menu_id,
			   menu_name,
			   del_yn,
			   food_type,
			   DATE_FORMAT(created_at, '%Y-%m-%d') as created_at
		FROM the_full_order.tb_menu_master
	</select>
	
	<select id="PlanList" parameterType="map" resultType="hashmap">
		SELECT plan_id,
			   plan_code,
			   plan_name,
			   billing_type,
			   period_months,
			   price_amount,
			   currency,
			   is_active,
			   DATE_FORMAT(reg_dt, '%Y-%m-%d') as reg_dt
		WHERE the_full_order.tb_thefull_plan
	</select>
	
	<select id="SubscriptionStatus" parameterType="map" resultType="hashmap">
		SELECT subscription_id,
		       account_id,
		       plan_id,
		       latest_order_id,
		       IFNULL(subscription_status, 'EMPTY') as subscription_status,
		       DATE_FORMAT(start_dt,'%Y-%m-%d') as start_dt,
		       DATE_FORMAT(end_dt,'%Y-%m-%d') as end_dt,
		       auto_renew_yn,
		       billing_key_id,
		       DATE_FORMAT(next_billing_dt,'%Y-%m-%d') as next_billing_dt,
		       DATE_FORMAT(canceled_at, '%Y-%m-%d %H:%i:%s') as canceled_at,
		       cancel_reason,
		       DATE_FORMAT(created_at, '%Y-%m-%d %H:%i:%s') as created_at,
		       DATE_FORMAT(updated_at, '%Y-%m-%d %H:%i:%s') as updated_at
		FROM the_full_order.tb_thefull_subscription
		WHERE account_id = #{account_id}
		
		UNION ALL
		
		/* 2. 테이블이 비어있을 때만 작동하는 더미 행 */
		SELECT NULL, #{account_id}, NULL, NULL, 'EMPTY', 
		       NULL, NULL, NULL, NULL, NULL, 
		       NULL, NULL, NULL, NULL
		FROM DUAL
		WHERE NOT EXISTS (SELECT 1 FROM the_full_order.tb_thefull_subscription)
	</select>
</mapper>
